.search-bar{
	margin: 20px;
	text-align: center;
}

.search-bar input{
	width: 75%;
}

.video-item img{
	max-width: 64px;
}

.video-details .details{
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover{
	background-color: #eee;
}

.cont-login-form{
	width: 50%;
	margin: auto;
	margin-top: 150px;
}

.cont-login-form h4{
	text-align: center;
}

.cont-login-form form .input-group-btn button{
	float: right;
}

.cont-todos-items{
	float: left;
	width: 50%;
}

.cont-todos-items h3{
	text-align: center;
}

.card.border-dark.mb-3{
    margin-left: 15px;
}

.card-body.text-dark {
    padding: 10px;
}

.main-container {
	width: 100%;
}

.main-title{
	text-align: center;
}

.main-container header h1{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-container h2{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.trash-button{
	float: right;
	margin-top: -27px;
	margin-right: -10px;
}

.content-form-input {
	height: 40px;
}

.content-form-input input{
	width: 100%;
	float: left;
	border-radius: 5px;
}

.content-form-input button{
	float: left;
	border-radius: 5px;
}

.cont-inputs-form input{
	float: left;
	width: 30%;
	margin-left: 12px;
}

.movement-submit-button{
	float: right;
}

.movement-amount-label{
	font-weight: bold;
}

.movement-title-list{
	margin-top: 5px;
}

.user-profile-picture {
	max-width: 50px;
	border-radius: 100px;
	margin-left: 40px;
}

.card.border-dark.mb-3{
	margin-left: 0px;
}

li {
	list-style-type: none;
}